@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// valuables
$color-black: #393939;
$color-text-lightgray: #CBCBCB;
$color-text-darkgray: #aeaeae;
$color-white: #fff;

html {
  font-size: 10px;
}

body {
  list-style: none;
  font-family: "Avenir next", "Arial", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", YuGothic, "Yu Gothic", sans-serif, sans-serif;
  font-size: 1.6rem;
  color: $color-text-darkgray;
  background: #0F0F0F;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 32px;
}

.first-view {
  margin: 0 0 72px;
  text-align: center;
  &__main-visual {
    width: 100vw;
  }
}

#visual-horizontal {
  display: none;
}

.top-section {
  margin: 0 auto 72px;
  &__title {
    margin: 0 auto 32px;
    color: $color-text-darkgray;
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
  }
}

.event {
  &__card {
    margin: 0 auto;
    max-width: 320px;
    background: $color-black;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);

    &__image {
      height: 168px;
      width: 100%;
      object-fit: cover;
    }

    &__texts {
      padding: 16px;
      &__title {
        color: $color-white;
        font-size: 2.4rem;
      }
      &__subtitle {
        color: $color-text-darkgray;
        font-size: 1.2rem;
        margin-bottom: 8px;
      }
      &__caption {
        color: $color-white;
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
  }
}

.story {
  &__title {
    margin-bottom: 24px;
    font-size: 2.4rem;
    text-align: center;
  }
  &__text {
    margin: 0 auto;
    max-width: 400px;
    color: $color-text-darkgray;
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}

.video-container {
  margin: 32px 0 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 1.4rem;
}

// .video-container iframe,
// .video-container object,
// .video-container embed {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 100%;
//   height: 320px;
// }

.table {
  border-spacing: 0px 16px;
  & td {
    // min-height: 40;
  }
  margin: 0 auto 16px;
  &__title {
    color: $color-text-darkgray;
    text-align: right;
    vertical-align: top;
    font-size: 1.4rem;
  }
  &__contents {
    color: $color-text-lightgray;
    padding-left: 32px;
    text-align: left;
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.address {
  font-size: 1.2rem;
}

.caution {
  margin: 0 auto;
  max-width: 450px;
  &__item {
    font-size: 1.2rem;
  }
}

.access {
  &__texts {
    text-align: left;
    width: 240px;
    margin: 24px auto 0;
    &__contents {
      color: $color-text-lightgray;
    }
  }
  &__map {
    text-align: center;
  }
}

.button {
  display: block;
  margin: 0 auto 24px;
  height: 44px;
  width: 216px;
  border: 1px solid $color-white;
  border-radius: 22px;
  text-align: center;
  color: #fff;
  line-height: 44px;
}

.CTA {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  bottom: 16px;
  background:$color-white;
  color: $color-black;
  font-weight: bold;
  z-index: 100;
}

.cloudfunding-img {
  display: block;
  margin: 0 auto 16px;
  width: 100%;
  max-width: 400px;
}
footer {
  text-align: center;
}

.sns-buttons {
  display: block;
  margin: 0 auto 16px;
  width: 44px;
  &__twitter {
    width: 44px;
  }
}

@media screen and (min-width:1024px) {
  #visual-horizontal {
    display: inline;
  }

  #visual-vertical {
    display: none;
  }

}