@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

// valuables
$color-black: #393939;
$color-darkgray: #878787;
$color-lightgray: #aeaeae;
$color-white: #fff;

html {
  font-size: 10px;
}

body {
  list-style: none;
  font-family: "Avenir next", "Arial", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", YuGothic, "Yu Gothic", sans-serif, sans-serif;
  font-size: 1.6rem;
  color: $color-black;
  background: #0F0F0F;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 32px;
}

.first-view {
  margin: 0 0 72px;
  text-align: center;
  &__main-visual {
    width: 100vw;
  }
}

#visual-horizontal {
  display: none;
}

.top-section {
  margin: 0 auto 72px;
  &__title {
    margin: 0 auto 32px;
    color: $color-darkgray;
    font-size: 2rem;
    text-align: center;
  }
}

.event {
  &__card {
    margin: 0 auto;
    max-width: 320px;
    background: $color-black;
    border-radius: 8px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);

    &__image {
      height: 168px;
      width: 100%;
      object-fit: cover;
    }

    &__texts {
      padding: 16px;
      &__title {
        color: $color-white;
        font-size: 2.4rem;
      }
      &__subtitle {
        color: $color-lightgray;
        font-size: 1.2rem;
        margin-bottom: 8px;
      }
      &__caption {
        color: $color-white;
        font-size: 1.4rem;
        line-height: 2.1rem;
      }
    }
  }
}

.concept {
  &__title {
    margin-bottom: 24px;
    font-size: 2.4rem;
    text-align: center;
  }
  &__text {
    margin: 0 auto;
    max-width: 400px;
    font-size: 1.4rem;
    line-height: 2.8rem;
  }
}

.cards {
  display: flex;
  margin: 0 auto;
  max-width: 1080px;
  justify-content: space-between;
}

.member {
  &__card {
    max-width: 350px;
    margin-bottom: 32px;

    &__image {
      display: block;
      margin-bottom: 12px;
      width: 100%;
      height: 144px;
      object-fit: cover;    
    }
    &__name {
      font-size: 2rem;
    }
    &__role {
      margin-bottom: 8px;
      font-size: 1.4rem;
      color: $color-darkgray;
    }
    &__text {
      font-size: 1.2rem;
      line-height: 2.1rem;
    }
  }
}

@media screen and (min-width:1024px) {
  #visual-horizontal {
    display: inline;
  }

  #visual-vertical {
    display: none;
  }

}